body {
    background-image:url(world.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Poppins", serif;
}
a {
    font-weight: bold;
}

h1 {
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 28px;
    margin: 0 0 5px;
    line-height: 2;
}

select {
    border-radius: 4px;
    display: block;
    font-size: 18px;
    padding: 10px;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    background-color: rgb(252, 253, 253);
    margin:40px auto;
    padding: 20px;

}

.city {
    border-bottom: 1px dashed grey;
    display: flex;
    justify-content: space-between;
    margin:20px 0;
    padding: 10px 0;

}

.city:last-child {
    border:none;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 48px;
    font-weight: bold;
}

.time small {
    font-size: 18px;
    line-break: 16px;
    vertical-align: middle;
}


footer {
    font-size: 14px;
    letter-spacing: -0.5px;
    text-decoration: #abcecf;
    text-align: center;
    padding-top: 30px;
}